.App {
  text-align: center;
}

.App-header {
  background-color: lightgoldenrodyellow;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: navy;
}

h2 {
  color: darkgrey;
  text-decoration: underline;
  letter-spacing: 1rem;
}

.filtering {
  width: 10rem;
  height: 2.3rem;
  font-size: 1.1rem;
  margin-bottom: 1rem;
  background-color: darkgray;
  color: white;
}

.filter-inputs {
  padding: 1rem 2rem;
  background-color: lightyellow;
  border-radius: 10px;
}

input {
  width: 20rem;
  height: 2.3rem;
  font-size: 1.1rem;
  margin: 0.5rem;
}

::placeholder {
  opacity: 0.2;
}

/* ---------- data-row --------- */
.row {
  min-width: 77vw;
  border-radius: 1rem;
  padding: 1rem;
}

.row:nth-child(odd) {
  background-color: lightyellow;
}

h4 {
  margin: 0;
  padding-bottom: 0.6rem;
}

p {
  margin: 0;
}

img {
  width: 2rem;
  height: 1rem;
  margin-left: 1rem;
}

.row button {
  width: 8rem;
  height: 2.5rem;
  margin-top: 0.6rem;
  font-size: 1.1rem;
  /* font-size: calc(7px + 1.5vmin); */
  border-radius: 50%;
  background-color: beige;
  color: silver;
  border: none;
  outline: none;
}

button:hover {
  background-color: gray;
  color: white;
}
